@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: url('imgs/arkaplan.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1,p {
    text-shadow: 0px 0px 20px black;
}

p.headerp {
    box-shadow: 0px 0px 20px white;
}

.teamdiv > img {
    border:2px solid transparent;
}

.teamdiv > img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
    border:2px solid black;
}

a:active {
    transform: scale(0.95);
}